<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'superheroes:edit' hero.id %}" method='POST' id=edit>
        {%csrf_token%}
        <label for='edit'>Update Superhero Info Here</label><br>
        Name: <input types="text" name="name" id="name"><br>
        Alter Ego: <input types="text" name="alter_ego" id="alter_ego"><br>
        Primary Ability: <input types="text" name="primary_ability" id="primary_ability"><br>
        Secondary Ability: <input types="text" name="secondary_ability" id="secondary_ability"><br>
        Catchphrase: <input types="text" name="catch_phrase" id="catch_phrase" ><br>
        <button type="submit"> Complete Update </button>
    </form>
    
</body>
</html>

